[Unit]
Description=MCBE Dedicated Server Manager
After=network.target
[Service]
Type=simple
WorkingDirectory=PWD
ExecStart=/usr/bin/bun run PWD/main.mjs
Restart=on-failure
[Install]
WantedBy=default.target
